* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body, html {
  height: 100%;
}

.hero-wrapper {
  padding-left: 15rem; 
}

.enterprise {
  margin: 20px 20px 20px 0;
}

.qtd-music {
  margin: 5px;
}
