* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body, html {
  height: 100%;
}

.app-container {
  display: flex;
  flex-direction: column; 
  height: 100vh; 
  width: 100%;
}

.content-area {
  position: relative; 
  flex: 1; 
  width: 100%;
  overflow: hidden; 
}

.wallpaper-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: 0; 
}

.hero-wrapper {
  position: relative; 
  z-index: 1; 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  padding-left: 50px; 
}