:root {
  /* variaveis */
  --fonte-principal: "Lexend", sans-serif;
  --brand-color: #eb4848;
  --dark: #131313;
  --gray: #929292;
  --white: #ffffff;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  font-family: var(--fonte-principal);
  background-color: var(--dark);
  margin: 0;
  min-height: 100vh;
  width: 100%;
  display: block; 
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--brand-color);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ec2f2f;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    --fonte-principal: "Lexend", sans-serif;
    --brand-color: #eb4848;
    --dark: #131313;
    --gray: #929292;
    --white: #ffffff;
  }

  a:hover {
    color: #535bf2;
  }

  button {
    background-color: var(--brand-color);
  }
}